* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1rem;
  background-color: rgb(3, 3, 3);
  color: rgb(255, 255, 230);
  font-size: 1rem;
  font-family: "Chillax", sans-serif;
}

p {
  font-size: 1rem;
}
h1 {
  font-family: "Clash Display", sans-serif;
  font-size: 3.815rem; /*Trying to use rules of major third*/
  text-align: center;
  margin: 1rem;
}
h2 {
  text-align: center;
  margin: 1rem;
}
/* stolen shadows css from https://codepen.io/whosajid/pen/LEGRBzp */
.card {
  background: rgb(22, 22, 22);
  border-color: rgb(255, 255, 230);
  border-style: solid;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: fill;
  max-width: 80%;
  margin: 1rem auto;
  border: 0px;
  box-shadow: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030,
    0 2px 4px #00000015;
}
.addTask {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-wrap:wrap
}
.addTask button {
  border-radius: 12px;
  padding: 1em;
  background: oklch(0.3 0 264);
  color: rgb(255, 255, 230);
  font-family: "Chillax", sans-serif;
  border-color: rgb(255, 255, 230);
  border-style: solid;
  border: 0px;
  box-shadow: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030,
    0 6px 10px #00000015;
}
.addTask button:hover {
  color: rgb(16, 16, 14);
  background-color: rgb(255, 255, 230);
  box-shadow: inset 0 3px 6px #0000007d, inset 0 -3px 6px #ffffff3c;
}
.addTask input {
  resize: none;
  border-radius: 12px;
width: fill;
  min-width: 200px;
    background-color: rgb(55, 55, 53);
  color: rgb(255, 255, 230);
  font-family: "Chillax", sans-serif;
  border-style: solid;
  border-color: rgb(255, 255, 230);
  border: 0px;
  padding: 1rem;
  box-shadow: inset 0 3px 6px #0000007d, inset 0 -2px 3px #ffffff3c;
}
#tasklist {
  list-style: none;
  width: 100%;

}

#tasklist li {
  color: rgb(255, 255, 230);
  border-color: rgb(255, 255, 230);
  border-style: solid;
  border-radius: 12px;
  padding: 0.5rem;
  width: fill;
  min-width: 200px;
  margin: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  border: 0px;
  background: oklch(0.3 0 264);
  flex-wrap: wrap;
  box-shadow: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030,
    0 6px 10px #00000015;
}
#tasklist li input {
  /*
  background-color: rgb(16, 16, 14);
  border-color: rgb(255, 255, 230);
  border-radius: 4px;
  /*styles above not working? have to check it out*/
  vertical-align: middle;
  width: 20px;
  aspect-ratio: 1/1;
  border-color: rgb(16, 16, 14);
}
#tasklist li button {
  vertical-align: middle;
  background-color: rgb(207, 49, 1);
  border-style: solid;
  border: 0px;
  border-color: rgb(16, 16, 14);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(255, 255, 230);
  box-shadow: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030,
    0 2px 4px #00000015;
}
#tasklist li button:hover {
  background-color: rgb(255, 66, 66);
}
/*more specificity to override default styling*/
#tasklist li.completedTask {
  text-decoration: line-through;
  text-decoration-color: rgb(207, 49, 1);
  color: rgba(68, 68, 64, 0.637);
  background-color: rgb(255, 255, 230);
  box-shadow: inset 0 3px 6px #0000007d, inset 0 -3px 6px #ffffff3c;
}
