.addTask{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.addTask button{
    border-radius: 4px;
    padding: 1em;
}
.addTask textarea{
    resize: none;
    border-radius: 4px;
    width: 50%;
}