* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1rem;
  background-color: rgb(16, 16, 14);
  color: rgb(255, 255, 230);
  font-size: 1rem;
  font-family: "Chillax", sans-serif;
}
p {
  font-size: 1rem;
}
h1 {
  font-family: "Clash Display", sans-serif;
  font-size: 3.815rem; /*Trying to use rules of major third*/
    text-align: center;
    margin: 1rem;

}
h2{
  text-align: center;
    margin: 1rem;  
}

.card {
  background-color: rgb(16, 16, 14);
    border-color: rgb(255, 255, 230);
  border-style: solid;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: fit-content;
      margin: 1rem auto;


}
.addTask {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  gap: 1rem;
}
.addTask button {
  border-radius: 12px;
  padding: 1em;
  background-color: rgb(16, 16, 14);
  color: rgb(255, 255, 230);
  font-family: "Chillax", sans-serif;
  border-color: rgb(255, 255, 230);
  border-style: solid;
}
.addTask button:hover {
  color: rgb(16, 16, 14);
  background-color: rgb(255, 255, 230);
}
.addTask input {
  resize: none;
  border-radius: 12px;
  width: 500px;
  background-color: rgb(16, 16, 14);
  color: rgb(255, 255, 230);
  font-family: "Chillax", sans-serif;
  border-style: solid;
  border-color: rgb(255, 255, 230);
}
#tasklist {
  list-style: none;
}

#tasklist li {
  color: rgb(255, 255, 230);
  border-color: rgb(255, 255, 230);
  border-style: solid;
  border-radius: 12px;
  padding: 0.5rem;
  width: fill;
  min-width: 200px;
  margin: 1rem;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
  
}
#tasklist li input {
  /*
  background-color: rgb(16, 16, 14);
  border-color: rgb(255, 255, 230);
  border-radius: 4px;
  /*styles above not working? have to check it out*/
  vertical-align: middle;
  width: 20px;
  aspect-ratio: 1/1;
  border-color: rgb(16, 16, 14);
}
#tasklist li button {
  vertical-align: middle;
  background-color: rgb(207, 49, 1);
  border-style: solid;
  border-color: rgb(16, 16, 14);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  padding: 0.6rem;
  display: flex;       
  align-items: center; 
  justify-content: center; 
  font-size: 14px;     
    color: rgb(255, 255, 230);
 

}
#tasklist li button:hover {
  background-color: rgb(255, 66, 66);
}
/*more specificity to override default styling*/
#tasklist li.completedTask {
  text-decoration: line-through;
  text-decoration-color: rgb(207, 49, 1);
  color: rgba(68, 68, 64, 0.637);
  background-color: rgb(255, 255, 230);
}
